<button{{ attributes.addClass('py-2.5 px-5 border border-solid border-white text-white bg-black hover:bg-white/20 hover:bg-white w-full transition duration-300 cursor-pointer') }}>{{ text }}</button>{{ content }}
