<button{{ attributes.addClass('py-2.5 px-5 -mt-4 border border-solid border-white text-white bg-black hover:bg-white hover:text-black w-full transition duration-300 cursor-pointer') }}>{{ text }}</button>{{ content }}
