<h1>{{ title }}</h1>

{% block body %}
  <p>Ut tincidunt, ex eget bibendum accumsan, ligula metus lobortis sapien, id elementum nunc elit a urna. Curabitur sodales ex enim. Nam facilisis aliquet libero quis tempor. Donec gravida euismod iaculis. Donec ultricies, turpis a rutrum accumsan, lacus ligula efficitur odio, ac rutrum diam leo et eros. Morbi ac commodo ligula, vitae vulputate est. Maecenas pellentesque, erat in semper mollis, massa sem ultrices sapien, eu placerat dolor neque nec sem. Nulla a est vitae odio maximus sollicitudin. Praesent ultrices congue metus, eu ornare diam vehicula et.</p>
{% endblock %}
