# Ignore vendor and Drupal core for PHP container
/html/vendor
/html/web/core
/html/web/modules/contrib
/html/web/themes/contrib

# Ignore node_modules and CSS for node container.
/html/web/themes/custom/base/node_modules
/html/web/themes/custom/base/css
