<!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    {% for slide in slides | children(true) %}
    <div class="swiper-slide">{{ slide.content }}</div>
    {% endfor %}
  </div>
</div>
