{% set menu_link_classes = 'justify-between w-full lg:w-auto flex items-center text-white/80 hover:text-white bg-transparent lg:hover:bg-white/10 transition-colors p-2 rounded-lg' %}
{% set submenu_classes = 'max-lg:bg-white/10 pl-2 lg:pl-0 max-lg:!static max-lg:!transform-none z-10 hidden bg-black lg:bg-white text-white/70 lg:text-black lg:border border-black divide-y divide-black lg:rounded-lg shadow w-full lg:w-44' %}
{% set submenu_link_classes = 'flex lg:text-black items-center justify-between w-full px-4 py-2 text-current hover:bg-black/10 rounded-lg' %}

<div class="col-span-3 grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
  {% for item in items %}
    <div>
      {{ link(item.title, item.url, {'class': 'mb-4 block text-sm font-semibold text-white/80 hover:text-white bg-transparent lg:hover:underline lg:hover:bg-white/10 transition-colors p-2 rounded-lg'}) }}
      {% if item.below|length > 0 %}
        <ul class="text-gray-500 dark:text-gray-400 font-medium">
          {% for subitem in item.below %}
            <li>
              {{ link(subitem.title, subitem.url, {'class': 'block text-xs text-white/75 hover:text-white lg:hover:underline transition-colors p-2'}) }}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  {% endfor %}
</div>
