{% stories node_page with { title: 'Node/Page' } %}

  {% story default with {
    name: '1. Default',
    args: { title: 'I am a header!', body: '<p>Learn more</p>' }
  } %}
    {% embed 'base:node-page' with { title: title } %}
      {% block body %}
        {{ body | raw }}
      {% endblock %}
    {% endembed %}
  {% endstory %}

{% endstories %}
