<div id="{{ 'b-accordion'|clean_unique_id }}" class="b-accordion container" data-accordion="collapse">
  {% for item in items | children(true) %}
    <div class="b-accordion-item">
      {{ item.content }}
    </div>
  {% endfor %}
</div>